<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WildCards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA720A941F0ABC63002ED9E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAD4E71E1F0BE4450028E089</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAD4E72C1F0BE8F20028E089</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
